:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:8px 16px rgba(0,0,0,.1);
    --border:.16px solid rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 112px;
    scroll-behavior: smooth;
}

section{
    padding: 32px 9%;
}

.heading{
    padding-bottom: 32px;
    text-align: center;
    font-size: 40px;
    color:var(--black);
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom:10px; left:0;
    height: 100%;
    width: 100%;
    background: var(--light-yellow);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn{
    display: inline-block;
    margin-top: 16px;
    padding:.50px 30px;
    background:var(--light-yellow);
    color:var(--black);
    cursor: pointer;
    font-size: 20px;
    border-radius: .80px;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    background:var(--yellow);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:48px 9%;
    z-index: 1000;
    background: #fff;
}

.header .logo{
    font-size: 25px;
    color:var(--black);
    font-weight: bold;
}

.header .logo span{
    color:var(--yellow);
}

.header .navbar a{
    margin:0 10px;
    font-size: 20px;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--yellow);
}

#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 20px;
    color:var(--light-color);
}

.header.active{
    padding:32px 9%;
    box-shadow: var(--box-shadow);
}

#menu-btn{
    font-size: 25px;
    color:var(--light-color);
    display: none;
}

.login-form-container{
    position: fixed;
    top:-105%; left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:32px;
    text-align: center;
    padding:32px;
    width:640px;
    border-radius: .80px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.login-form-container form .buttons{
    display: flex;
    gap:16px;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:100%;
    margin:.80px 0;
}

.login-form-container form .box{
    margin:.112px 0;
    width: 100%;
    font-size: 25px;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:16px 19px;
    border-radius: .80px;
}

.login-form-container form p{
    padding:16px 0;
    font-size: 10px;
    color:var(--light-color);
}

.login-form-container form p a{
    color:var(--yellow);
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom:15px;
    font-size: 30px;
    color:var(--black);
    text-transform: uppercase;
}

.login-form-container #close-login-form{
    position: absolute;
    top:24px; right:40px;
    font-size: 30px;
    color:var(--black);
    cursor: pointer;
}

.home{
    padding-top: 160px;
    text-align: center;
    overflow-x: hidden;
}

.home h3{
    color:var(--black);
    font-size: 30px;
    text-transform: uppercase;
}

.home img{
    width:100%;
    margin:15px 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:30px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #eee;
}

.icons-container .icons{
    background:#fff;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: .8px;
    padding:20px;
    gap:20px;
}

.icons-container .icons i{
    height:80px;
    width:80px;
    line-height:80px;
    font-size:40px;
    color:var(--black);
    background:#eee;
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    font-size: 20px;
    color:var(--yellow);
}

.icons-container .icons .content p{
    font-size: 20px;
    color:var(--light-color);
}

.icons-container .icons:hover{
    background:var(--black);
}

.icons-container .icons:hover i{
    background:var(--yellow);
}

.icons-container .icons:hover .content h3{
    color:#fff;
}

.icons-container .icons:hover .content p{
    color:#eee;
}

.vehicles .vehicles-slider{
    padding-bottom: 80px;
}

.vehicles .vehicles-slider .box{
    text-align: center;
}

.vehicles .vehicles-slider .box img{
    width:100%;
    transform: scale(.8);
    opacity: .5;
}

.vehicles .vehicles-slider .box .content{
    padding-top: 16px;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img{
    transform: scale(1);
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3{
    font-size: 40px;
    color:var(--black);
}

.vehicles .vehicles-slider .box .content .price{
    font-size: 35px;
    color:var(--yellow);
    padding:16px 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
    color:var(--light-color);
    font-size: 24px;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
    font-size: 25px;
    color:var(--light-color);
    padding: 16px 0;
    padding-top: 24px;
    border-top: var(--border);
}

.vehicles .vehicles-slider .box .content span{
    font-size: 16px;
    color:var(--yellow);
    padding:8px;
}

.swiper-pagination-bullet-active{
    background: var(--yellow);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:24px;
}

.services .box-container .box{
    padding:32px;
    border-radius: .80px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}

.services .box-container .box i{
    height:96px;
    width:96px;
    line-height: 96px;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: 16px;
    background:var(--yellow);
    color:var(--black);
}

.services .box-container .box h3{
    font-size: 20px;
    color:var(--black);
}

.services .box-container .box p{
    line-height: 1.8;
    padding:16px 0;
    font-size: 10px;
    color:var(--light-color);
}

.services .box-container .box:hover{
    background: var(--black);
}

.services .box-container .box:hover h3{
    color:#fff;
}

.services .box-container .box:hover p{
    color:#eee;
}

.featured .featured-slider{
    padding:16px;
    padding-bottom: 60px;
}

.featured .featured-slider .box{
    padding:15px;
    text-align: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .60px;
}

.featured .featured-slider .box img{
    height: 130px;
}

.featured .featured-slider .box:hover img{
    transform: scale(.9);
}

.featured .featured-slider .box .content h3{
    font-size: 20px;
    color:var(--black);
}

.featured .featured-slider .box .content .stars{
    padding:16px 0;
}

.featured .featured-slider .box .content .stars i{
    font-size: 20px;
    color:var(--yellow);
}

.featured .featured-slider .box .content .price{
    font-size: 20px;
    color:var(--black);
}



.newsletter{
    padding:96px 32px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.newsletter h3{
    font-size: 25px;
    color:var(--black);
}

.newsletter p{
    font-size: 25px;
    color:var(--light-color);
    padding:16px 0;
}

.newsletter form{
    max-width: 800px;
    height:80px;
    background:#fff;
    border-radius: 50px;
    overflow:hidden;
    display: flex;
    margin:16px auto;
    box-shadow: var(--box-shadow);
}

.newsletter form input[type="email"]{
    height: 100%;
    width:100%;
    padding:0 32px;
    font-size: 20px;
    color:var(--black);
    text-transform: none;
}

.newsletter form input[type="submit"]{
    height: 100%;
    width:272px;
    font-size: 10px;
    color:var(--black);
    background: var(--light-yellow);
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover{
    background: var(--yellow);
}

separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.intro-type .container {
    padding: 50px 0px 50px 0px !important;
}
#product-header-section, .intro-type .container {
    padding: 50px 15px 60px !important;
}
.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}
.company-heading h1 {
    margin-bottom: 40px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}
.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 20px;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
    font-weight: 800;
    font-size: 50px;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}
.company-sections h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}
.red-border {
    width: 50%;
    border-bottom: 1px solid #d2282e;
    margin: 0 auto;
    height: 16px;
}
.company-sections p {
    margin-top: 20px;
}
.ct-u-size22 {
    font-size: 22px;
}
.ct-u-fontWeight300 {
    font-weight: 300;
}
.marginTop40 {
    margin-top: 40px !important;
}
.ct-u-paddingBoth100 {
    padding: 100px 15px;
}
.culture-section {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(https://www.solodev.com/assets/culture.jpg) top no-repeat;
    /* background-color: #095c87; */
    /* color: #fff; */
}
.company-sections, .careers-sections, .left-headquarter-section-img, .right-headquarter-section-img {
    text-align: center;
}
.ct-u-paddingBoth100 {
    padding: 100px 15px;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
    font-weight: 800;
    font-size: 20px;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}
.slick-slider {
    margin-bottom: 0;
}
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slider .item {
    overflow: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}

.contact .row .map{
    flex:1 1 670px;
    width: 100%;
    padding:32px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .80px;
}

.contact .row form{
    padding:32px;
    flex:1 1 670px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .80px;
}

.contact .row form h3{
    font-size: 30px;
    color:var(--black);
    padding-bottom: 16px;
}

.contact .row form .box{
    width:100%;
    border-radius: .80px;
    padding:16px 19px;
    font-size: 25px;
    text-transform: none;
    border:var(--border);
    margin:.112px 0;
}

.contact .row form textarea{
    height:200px;
    resize: none;
}

.footer{
    background: var(--light-yellow);
    padding-bottom: 8rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:128px;
}

.footer .box-container .box h3{
    font-size: 20px;
    padding:16px 0;
    color:var(--black);
}

.footer .box-container .box a{
    display: block;
    font-size: 15px;
    padding:16px 0;
    color:var(--light-color);
}

.footer .box-container .box a i{
    padding-right: .80px;
    color:var(--black);
}

.footer .box-container .box a:hover i{
    padding-right: 32px;
}

.footer .credit{
    text-align: center;
    padding:24px;
    padding-top: 40px;
    margin-top: 32px;
    border-top: var(--border);
    font-size: 30px;
    color:var(--black);
}
















@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    #login-btn .btn{
        display: none;
    }

    #login-btn i{
        display: block;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}